.button {
    width: fit-content;
    padding: 8px;
    height: 16px;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid gray;
    cursor: pointer;
    color: white;
}

.primary-cta, .primary-cta-full {
    border: 1px solid red;
    background: red;
}

.primary-cta-full {
    width: auto;
}

.secondary-cta {
    border: 1px solid gray;
    background: gray;
}

.secondary-cta-l {
    border: 1px solid white;
}

.secondary-cta-d {
    color: black;
}
