.App {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 50%;
  margin: auto;
  background-color: gray;
  display: flex;
}

.block-one {
  width: 70%;
  height: 100%;
}

.one {
  height: 50%;
  display: flex;
  padding: 0 10%;
  background-color: white;
}

.two {
  height: 50%;
  display: flex;
  padding: 0 10%;
  background-color: darkslategrey;
}

.block-two {
  width: 20%;
  height: 100%;
  background-color: white;
  margin-left: 10%;
  position: relative;
}

.two-one {
  bottom: 0;
  position: absolute;
  width: 100%;
}